html {
  background-color: #DCEDC8;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.Main {
  flex: 1;
}

.Header {
  background-color: #5D4037;
  color: white;
  font-size: xx-large;
  padding: 48px;
}

.Cookie {
  animation: Spin-image infinite 20s linear;
  height: 80px;
}

.Box {
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  width: 180px;
  height: 150px;
  padding: 20px;
  color: white;
  border-radius: 16px;
}

.Wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

.BoxesWrapper {
  display: table-cell;
  vertical-align: right;
  width: 70%;
  height: 100%;  
}

.OrderFormWrapper {
  display: table-cell;  
  text-align: left;
  width: 30%;
  height: 100%;
  padding-left: 12px;  
}

.OrderForm input[type=text] {
  width: 100%;
  padding: 6px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: medium;
}

.Label {
  font-size: 1.5em;
}

.OrderLabel {
  font-size: large;
  color: white;
  margin-right: 6px;
}

.OrderOption {
  background-color: #8b6b61;
  height: fit-content;
  width: fit-content;
  margin: 6px;
  padding: 6px;
  border-radius: 4px;
}

.OrderOptionList {
  margin-top: 12px;
}

.Standard-text {
  font-size: large;
}

@keyframes Spin-image {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Button {
  background-color: #5D4037;
  font-size: large;
  color: white;
  padding: 3px 6px 3px;
  border-radius: 4px;
}

Button:focus {
  outline: none;
}

.Footer {
  flex: 0;
  background-color: #5D4037;
  color: white;
  width: 100%;
  padding: 6px 0 6px;
}